<form [formGroup]="formTicket" (ngSubmit)="submiting()" class="ticket-form">
  <div class="form-group">

    <!-- Equipement Select -->
    <label for="equipement_id" class="form-label">Equipement</label>
    <select id="equipement_id" formControlName="equipement_id" class="form-select">
      <option *ngFor="let equip of equipements" value="{{equip.id}}">{{equip.type}}</option>
    </select>

    <!-- Panne Select -->
    <label for="idPanne" class="form-label">Panne</label>
    <select id="idPanne" formControlName="idPanne" class="form-select">
      <option *ngFor="let panne of ListPanne" value="{{panne.idPanne}}">{{panne.name}}</option>
    </select>

    <!-- Submit Button -->
    <button type="submit" class="submit-btn">Submit</button>
  </div>
</form>
